<adf-toolbar [color]="'accent'">
  <adf-toolbar-title>
    <span *ngIf="appName">My Tasks for '{{ appName }}'</span>
    <span *ngIf="!appName">Select an App to see tasks </span>
  </adf-toolbar-title>
</adf-toolbar>
<adf-apps
  [layoutType]="'LIST'"
  [filtersAppId]="processAppsFilter"
  (appClick)="onAppClick($event)">
</adf-apps>
<div class="margin10" *ngIf="appName">
  <md-divider></md-divider>
  Show tasks that are:
  <md-radio-group (change)="onSelectTaskType($event.value)" class="margin10">
    <md-radio-button value="openAssigned" checked="true">Open (Assigned)</md-radio-button>
    <md-radio-button value="openPooled">Open (Pooled)</md-radio-button>
    <md-radio-button value="completed">Completed</md-radio-button>
  </md-radio-group>
</div>
<md-tab-group>
  <md-tab [label]="taskTypeName">
    <adf-tasklist *ngIf="appId"
                  [appId]="appId"
                  [state]="taskState"
                  [assignment]="taskAssignment"
                  (rowClick)="onTaskClick($event)">
      <data-columns>
        <data-column key="processInstanceId" title="Process Id"></data-column>
        <data-column key="id" title="Task Id"></data-column>
        <data-column key="name" title="Name" class="full-width name-column"></data-column>
        <data-column key="created" title="Created" type="date"></data-column>
      </data-columns>
    </adf-tasklist>
  </md-tab>
</md-tab-group>
